*{box-sizing:border-box;
  margin:0px;
  padding:0px;
}

html {
  scroll-behavior:smooth;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.logo{width:auto;
      height:auto;
      margin: 25px auto 20px auto;
     }

.logo img{width:250px;
          height:auto;
          }

nav{float:right;
    margin:40px 60px 40px 30px;
  color:#3C8B82;}

nav ul{display: flex;
   gap:20px;}

nav li{flex:1;
   list-style: none;}

    .empresa {
  flex: 1 1 300px; /* ancho mínimo de 300px, crece igual que las otras */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 15px;
  background: #fffce0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* esto ayuda con distribución vertical */
}
    .categoria-btn { margin: 0.5em; padding: 0.5em 1em; cursor: pointer; }
    #listadoEmpresas{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espacio entre tarjetas */
  justify-content: center;
  margin:20px;
}

a:link{color:#38618C; text-decoration: none;}

a:visited{color:aliceblue; text-decoration: none;}

a:hover{color:#3C8B82; text-decoration: none;}
a:active{color:rgb(106, 185, 255); text-decoration: none;}

.clear{clear: both;}


body{font-family: "Open Sans", sans-serif;
     color:black;
     background-color: #F9EFDA;
     font-size: 16px;
    }

header{width:100%;
       background-color: #ffffff;
       height: auto;
       display: block;
       overflow: auto;
       z-index: 99999;
       position: fixed;
       top: 0px;
       left: 0px;
       text-align: center;
      }

.hero{max-width:100%;
      min-height: 625px;
      background-image: url(../imagenes/hero.jpg);
      background-repeat: no-repeat;
      background-position-y:40%;
      background-size: cover;
      background-blend-mode:soft-light;
      background-color:rgb(20, 20, 20);
      overflow: auto;  
      padding-top: 100px; 
      
        
}

.contenedor-hero{max-width: 1280px;
overflow: auto;
margin:0px auto;}

.boton-hero{margin: 29px auto 10px auto;
            
            text-align: center;}

            .boton-secundario{
            background-color: rgb(86, 86, 86)!important;
            padding: 10px 20px!important;
            }

            .boton-secundario:hover{
            background-color: rgb(125, 125, 125)!important;
            padding: 10px 20px!important;
            }

.boton-hero button{padding: 10px 60px;
            border-radius: 22px;
            background-color: #ECA02E;
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 1.0em;
            font-weight: 600;
            font-style: italic;
          float: left;
        margin: 10px;}

.boton-hero button:hover{padding: 10px 60px;
            border-radius: 22px;
            background-color: #3C8B82;
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 1.0em;
            font-weight: 600;
            font-style: italic;}



h1{font-family: "Raleway", sans-serif;
   font-weight: normal;
   font-size: 3.0em;
line-height: 52px;}

h5{font-family: "Raleway", sans-serif;
font-weight: normal;
   font-size: 1em;
line-height: 23px;}

.contenedor-hero-izq{
                     max-width: 50%;
                     float: left;
                     padding: 10px;
                     margin: 70px 20px 30px 40px;
                     color: white;
                     }

.contenedor-hero-der{
                     max-width: 40%;
                     float: right;
                     margin: 90px 60px 30px 0px;
                     color: white;
                     height: auto;
                     }


@media screen and (max-width: 880px) {

  h1{font-family: "Raleway", sans-serif;
   font-weight: normal;
   font-size: 2.7em;
line-height: 43px;}

  .contenedor-hero-izq{
                     max-width: 95%;
                     padding: 10px;
                     margin: 70px 10px 30px 10px;
                     color: white;
                     /* clear: both; */
                     }

.contenedor-hero-der{
                    width: 95%;
                    margin:120px auto 80px auto;
                    color: white;
                    height: auto;
                    /* clear: both; */
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    float: none;
                    FLEX: 1 1;
                    padding-top: 30px;
                    }
  
}

                     

.hero-card {
  /* position: relative; */
  /* top: -20px; */
  /* right: 0px; */
  background: #fff;
  color: #333;
  padding: 0 0 1.5rem 0;
  max-width: 320px;
  border-radius: 22px;
  z-index: 20;
  font-size: 0.95rem;
  overflow: hidden;
  /* flex: 1; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* align-content: stretch; */
  min-width: 320px;
}

.hero-card-header {
  background: #ff4d4d;
  color: #fff;
  padding:1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.05rem;
}

.hero-card-body {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hero-card-body li {
  margin-bottom: 0.8rem;
  line-height: 1.4;
}

.scroll-down {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2.7rem;
  color: #3C8B82; 
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

main{max-width:1280px;
     margin:0px auto;
     min-height: 100vh;
     text-align: center;
    }

section{padding: 20px 0px;}

    main h3{font-weight: 500;
            padding: 0px 70px;}

footer{width:100%;
       background-color: rgb(35, 35, 35);
       height: 100px;
       text-align: center;
      }

.texto-pie{color: #6d6d6d;
           font-size: 0.8em;
           padding:28px;}

.contenedor-circulo{display: flex;
                    gap:30px;
                    max-width: 1280px;
                  margin: 30px auto;
                   text-align: center;}
                   
.circulo-wrap{width: auto;
              margin:0px auto;}

.circulo1{width: 160px;
         height: 160px;
         border-radius: 80px;
         background-color: #ECA02E;
         text-align: center;
         font-size:4.5em;
         color: white;
         vertical-align:middle;
         padding-top: 27px;
         float: left;
         margin: 55px 30px 55px 10px;}

         .circulo2{width: 160px;
         height: 160px;
         border-radius: 80px;
         background-color: #3C8B82;
         text-align: center;
         font-size:4.5em;
         color: white;
         vertical-align:middle;
         padding-top: 27px;
         float: left;
         margin: 55px 30px;}

.circulo3{width: 160px;
         height: 160px;
         border-radius: 80px;
         background-color: #D6472A;
         text-align: center;
         font-size:4.5em;
         color: white;
         vertical-align:middle;
         padding-top: 27px;
         float: left;
         margin: 55px 30px;}

.circulo4{width: 160px;
         height: 160px;
         border-radius: 80px;
         background-color: #E56222;
         text-align: center;
         font-size:4.5em;
         color: white;
         vertical-align:middle;
         padding-top: 27px;
         float: left;
         margin: 55px 10px 55px 30px;}


.formulario-input{margin:10px;
                  padding:10px 30px;
                  border-radius: 15px;
                  min-width: 230px;
                  border:1px solid #666;
                  background-color: #F9EFDA;}

.formulario-area{margin:10px;
                  padding:10px 30px;
                  border-radius: 15px;
                  border:1px solid #666;
                  min-width: 230px;
                  background-color: #F9EFDA;
                  min-height:200px;}

.formulario-boton{padding: 10px 60px;
            border-radius: 22px;
            background-color: #ECA02E;
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 1.0em;
            font-weight: 600;
            min-width: 230px;
            margin: 10px;}

.formulario-boton:hover{padding: 10px 60px;
            border-radius: 22px;
            background-color: #3C8B82;
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 1.0em;
            font-weight: 600;
            min-width: 230px;
            }

